{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <div class="d-flex">
    <h1>Author List</h1>
    <ul class="mt-2 d-flex align-items-center">
      <a href="{% url 'catalog:author-create' %}" type="button" class="btn btn-outline-secondary">Create Author</a>      
    </ul>
  </div>
  {% if author_list %}
    <ul class="list-group">
      {% for author in author_list %}
      <li class="list-group-item">
        <a href="{{ author.get_absolute_url }}">{{ author }}</a>
      </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}

  <canvas id="chart" width="500" height="130"></canvas>
{% endblock %}

{% block script %}
  <script src='{% static "canvas/authors_book_count.js" %}'></script>
{% endblock script %}
